---
apiVersion: v1
kind: Namespace
metadata:
  name: capi-system
---
apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: CoreProvider
metadata:
  name: cluster-api
  namespace: capi-system
spec:
  version: v1.4.3
---
apiVersion: v1
kind: Secret
metadata:
  name: provider-config
  namespace: capi-system
type: Opaque
data:
  SIDERO_CONTROLLER_MANAGER_HOST_NETWORK: dHJ1ZQ==
  SIDERO_CONTROLLER_MANAGER_DEPLOYMENT_STRATEGY: UmVjcmVhdGU=
  SIDERO_CONTROLLER_MANAGER_API_ENDPOINT: MTkyLjE2OC4wLjEx
  SIDERO_CONTROLLER_MANAGER_AUTO_BMC_SETUP: ZmFsc2U=
---
apiVersion: operator.cluster.x-k8s.io/v1alpha1
kind: InfrastructureProvider
metadata:
  name: sidero
  namespace: capi-system
spec:
  version: v0.6.1
  secretName: provider-config
  secretNamespace: capi-system
---
apiVersion: operator.cluster.x-k8s.io/v1alpha1
kind: BootstrapProvider
metadata:
  name: talos
  namespace: capi-system
spec:
  version: v0.6.2
---
apiVersion: operator.cluster.x-k8s.io/v1alpha1
kind: ControlPlaneProvider
metadata:
  name: talos
  namespace: capi-system
spec:
  version: v0.5.3